@model List<Item_ViewModel>
@using WebShopAsp.net_MVC_.ViewModels
@{
    Layout = "_ItemPageLayout";
}


       
        <!-- Header-->
        <header class="bg-dark py-1">
            <form asp-controller="User" asp-action="GetAllUserItems" method="post">
        <input class="card-link" type="submit" value="Go to personal Items" />
        
        </form> 
            <div class="container px-1 px-lg-2 my-2">
                <div class="text-center text-white">
                    <h1 class="display-2 fw-bolder">Buy your items now</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Juicy items</p>
                </div>
            </div>
            <form asp-controller="Login" asp-action="LogOut" method="post" class="form-signin">
           <input class="btn btn-dark" type="submit" value="LogOut" />
          </form>
        </header>
        <!-- Section-->
        <div class="flex-container">
         @foreach (Item_ViewModel item_ViewModel in Model) {
      //@Html.BeginForm("DeleteItem","Item") <div class="card" style="width: 18rem;">
 
 <div class="card-body2"> 
     <ul class="list-group list-group-flush">

   <div class="card-body">@Html.DisplayFor(modelItem =>item_ViewModel.ItemName)</div>
   <li class="list-group-item">Price @Html.DisplayFor(modelItem =>item_ViewModel.Price)</li>
   <li class="list-group-item">Avalible @Html.DisplayFor(modelItem =>item_ViewModel.Amount)</li>
  
 </ul> 

 <div class = "card-body">
   <form id="frm1" asp-controller="User" asp-action="BuyItem" method="post">
       
       <input asp-for="@item_ViewModel.Amount" value="" placeholder="Amount" class="form-control text-center" required />
       <input asp-for="@item_ViewModel.ItemName" type="hidden" class="form-control text-center" required />
       <input asp-for="@item_ViewModel.ItemID" type="hidden" class="form-control text-center" required />
          <input class="btn btn-dark" type="submit" value=" Buy Item" />
          <a asp-controller="Reviews" asp-action="Index" asp-route-id="@item_ViewModel.ItemID"> <input class="btn btn-dark" value="Item Reviews" type="button"/></a>
       
        
      
  </form>


  @*  <form asp-controller="Reviews" asp-action="Index" method="post">
          <input asp-for="@item_ViewModel.ItemID" type="hidden" class="form-control text-center" required />
         
          </form>
*@  
          
      
      
   </div>
</div>


    } 
   
   

   
 
        <!-- Footer-->
      
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
     
     
