@model List<Review_ViewModel>
@using WebShopAsp.net_MVC_.ViewModels
@{
     Layout = "_ItemPageLayout";
}

 <header class="bg-dark py-1">
            <form asp-controller="User" asp-action="Index" method="post">
        <input class="card-link" type="submit" value="Back to shop" />
        
        </form> 
            <div class="container px-1 px-lg-2 my-2">
                <div class="text-center text-white">
                    <h1 class="display-2 fw-bolder">Buy your items now</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Item reviews</p>
                </div>
            </div>
            <form asp-controller="Login" asp-action="LogOut" method="post" class="form-signin">
           <input class="btn btn-dark" type="submit" value="LogOut" />
          </form>
        </header>
            @if (ViewBag.Message != null) { <script> $(document).ready(function () { alert('@ViewBag.Message');}); </script> }
        @foreach (Review_ViewModel review_ViewModel in Model) {
       //@Html.BeginForm("DeleteItem","Item") <div class="card" style="width: 18rem;">
  
  <div class="card-body2">
  <ul class="list-group list-group-flush">
      <li class="list-group-item">Item review: @Html.DisplayFor(modelItem =>review_ViewModel.Review)</li>
      <li class="list-group-item" hidden>Item review: @Html.DisplayFor(modelItem =>review_ViewModel.ReviewID)</li>
    <li class="list-group-item"> Item score : @Html.DisplayFor(modelItem =>review_ViewModel.Score)</li>
      <form asp-controller="Reviews" asp-action="AddLike" method="post" class="form-signin">
               <input asp-for="@review_ViewModel.ReviewID" type="hidden" id="id" name="id"/>
            <input class="btn btn-dark" type="submit" value="Add Like" data-bs-toggle="modal" data-bs-target="#exampleModal"/>
            </form>   
            <form asp-controller="Reviews" asp-action="ReviewLikes" method="post" class="form-signin"  data-bs-toggle="modal" data-bs-target="#exampleModal">
               <input asp-for="@review_ViewModel.ReviewID" type="hidden" id="id" name="id"/>
                <input class="btn btn-dark" type="submit" value="Check who liked"/>
            </form>   
       
  </ul>
  

  </div>

      
    }

  <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
      </div>
      <div class="modal-body">
     @foreach (Review_ViewModel review_ViewModel in Model) {
       //@Html.BeginForm("DeleteItem","Item") <div class="card" style="width: 18rem;">
  
  <div class="card-body2">
  <ul class="list-group list-group-flush">
      <li class="list-group-item">The userid that liked: @Html.DisplayFor(modelItem =>review_ViewModel.UserID)</li>
      <li class="list-group-item">Liked item : YES </li>
  </ul>
  </div>

      
    }
      </div>
      <div class="modal-footer">
             <form asp-controller="User" asp-action="Index" method="post">
        <input class="card-link" type="submit" value="Back" />
        
        </form>
      </div>
    </div>
  </div>
</div>
