@model WebShopAsp.net_MVC_.ViewModels.Login_ViewModel
@using WebShopAsp.net_MVC_.ViewModels

@{
    Layout = "_UserLayout";
}





    <form asp-controller="Login" asp-action="Login" method="post" class="form-signin">
        <img class="mb-4"  src="https://runescapetoday.com/wp-content/uploads/2022/02/LOGOweb.png"  alt="Runescape Money"  height="63" />

        @*<div style="padding-top: 7px" class="h3 mb-3 font-weight-normal">@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })</div>*@

        <div class="form-group">
            <div  class="InputBackgroundBox">
                <input asp-for="Username" placeholder="Username" class="form-control text-center"/>
                <span asp-validation-for="@Model.Username" class= "text-danger"></span>
            </div>
            @*<span asp-validation-for="Username" class="text-danger"></span>*@
        </div>
        <div class="form-group">
            <div class="InputBackgroundBox">
                <input asp-for="Password" type="password" placeholder="Password" class="form-control text-center"/>
                 <span asp-validation-for="@Model.Password" class= "text-danger"></span>
                 
            </div>
            @*<span asp-validation-for="Password" class="text-danger"></span>*@
        </div>
          <input asp-for="Email"   class="form-control text-center" hidden value="emailemailemailemailemailemail"/>
<span asp-validation-for="@Model.Email" class= "text-danger" hidden></span>
        <div class="form-signin">
            <input class="btn btn-dark" type="submit" value="Login" />
            <br />



        </form>

         <form asp-controller="Login" asp-action="GoToRegister" method="post">
        <input class="btn btn-dark" type="submit" value="Create Account" />
        </div>
        </form>




@* <div class="offset-1">
    <div class="col-lg-11 col-md-11  col-sm-11  col-xs-11">

    <div class="modal" id="NieuweWerknemer">
    <div class="modal-dialog modal-md">
    <div class="modal-content">
    <div class="modal-header">

    </div>
    <div class="modal-body">

    <form asp-controller="Account" asp-action="Register" method="post">

    <div class="row">
    <div style="padding-top: 7px" class="col-lg-2">@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })</div>

    <div class="col-lg-10">
    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>
    </div>
    <div style="padding-top: 10px"></div>

    <div class="row">
    <div style="padding-top: 7px" class="col-lg-2">@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })</div>

    <div class="col-lg-10">
    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    </div>
    <div style="padding-top: 10px"></div>


    <div class="modal-footer">
    <input class="btn btn-success" type="submit" value="Creëer" />
    <input class="btn btn-danger" type="submit" data-dismiss="modal" value="Close" />
    </div>

    </form>
    </div>

    </div>

    </div>

    </div>
    <div class="d-flex">
    <div class="btn btn-info" href="#" data-toggle="modal" data-target="#NieuweWerknemer" style="margin-left : 99px"><a>Register now!</a></div>
    </div>
    <br />
    <br />
    <br />

    <br />
    </div>


    </div>
*@ 
@*
    <div class ="AddPopUp">

    @Html.Label("Add pop up")
    </div>
    <div class="modal fade" id="MyPopUp" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-body">
    <input class="btn btn-lg btn-block btn-primary" type="submit" value="Register" />
    </div>
    </div>
    </div>
    </div>

    @section Scripts{
    <script type="text/javascript">
    $(document).ready(funciton(){
    $(".AddPopUp").click(funciton(e){
    $('MyPopUp').modal('show');
    });
    });
    </script>
    }
*@
